<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game</title>
    <link rel="stylesheet" href="styles.css">
    <script>
        const ROOM_ID = '<%= roomId %>'
    </script>
    <script src="/socket.io-client/dist/socket.io.js" defer></script>
    <script src="script.js" defer></script>
</head>
<body>
    <header>
        <h1>Bingo</h1>
    </header>
    <main>
        <div class="game-container">
            <div class="table-container">
                <table class="bingo-table"></table>
                <div class="btn-container">
                    <button class="ready-btn" onclick="onReady()">Ready</button>
                    <button class="start-btn" onclick="onStart()">Start</button>
                </div>
                <div class="curr-player"></div>
            </div>
            <div class="vertical-line"></div>
            <aside class="room-members">
                <div>Players</div>
                <ul class="players-list"></ul>
            </aside>
        </div>
        <div class="entry-container">
            <label for="name">Name</label>
            <input type="text" name="name" id="name">
            <button onclick="enterRoom()">Enter</button>
        </div>
    </main>
</body>
</html>