header {
    text-align: center;
}

.game-container {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
}

.entry-container {
    width: 80%;
    margin: auto;
    text-align: center;
}

.entry-container > * {
    margin: 5px auto;
}

.bingo-table {
    --size: 300px;
    width: var(--size);
    height: var(--size);
    outline: none;
    border: 3px solid black;
    border-collapse: collapse;
    margin-right: 30px;
}

.bingo-table input {
    width: 100%;
    height: 100%;
    border: 0;
    padding: 0;
    outline: none;
    text-align: center;
    font-size: 150%;
    background: transparent;
}

.bingo-table td {
    border: 1px solid black;
}

.td-ready {
    cursor: pointer;
}

.td-ready:hover {
    background: lightgray;
}

.vertical-line {
    width: 5px;
    background-color: black;
}

.room-members {
    margin-left: 30px;
}

.room-members > div:first-child {
    font-size: large;
    font-weight: bold;
}

.btn-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btn-container > button {
    margin: 10px auto 0;
}

.curr-player {
    text-align: center;
    margin-top: 10px;
}

@media only screen and (max-width: 600px) {
    .game-container {
        width: 100%;
    }
    .bingo-table {
        --size: 200px;
        margin-right: 10px;
    }
    .room-members {
        margin-left: 10px;
    }
    .vertical-line {
        width: 3px;
    }
    .bingo-table input {
        font-size: 100%;
    }
}

@media only screen and (max-width: 400px) {
    .bingo-table {
        --size: 150px;
    }
    .vertical-line {
        width: 1px;
    }
}