header {
    text-align: center;
}

.game-container {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
}

.entry-container {
    width: 80%;
    margin: auto;
    text-align: center;
}

.bingo-table {
    --size: 300px;
    width: var(--size);
    height: var(--size);
    outline: none;
    border: 3px solid black;
    border-collapse: collapse;
    margin-right: 30px;
}

.bingo-table input {
    width: 100%;
    height: 100%;
    border: 0;
    padding: 0;
    outline: none;
    text-align: center;
    font-size: 150%;
    background: transparent;
}

td {
    border: 1px solid black;
}

.vertical-line {
    width: 5px;
    background-color: black;
}

.room-members {
    margin-left: 30px;
}